@using System.Text.Json
@inject IJSRuntime JS
@typeparam ValueType

@ChildContent
<div id="myGrid" style="height: @Height; width:@Width;" class="ag-theme-alpine"></div>

@code {
    [Parameter]
    public List<ValueType> Data { get; set; }

    [Parameter]
    public string Height { get; set; }

    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public bool Pageable { get; set; }

    [Parameter]
    public int PageSize { get; set; }

    [Parameter]
    public EventCallback<ValueType> OnEdit { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        var json = JsonSerializer.Serialize(Data);

        if (firstRender)
        {
            await JS.InvokeVoidAsync("initAgGridRowData", json, Pageable, PageSize, DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public async Task CellEdited(string json)
    {
        var dataObject = JsonSerializer.Deserialize<ValueType>(json);
        await OnEdit.InvokeAsync(dataObject);
    }
}
